﻿@{
    ViewBag.Title = "Table";
}

<h2>@ViewBag.Title</h2>
<h4>Pesan: @ViewBag.Pesan</h4>
<table>
    <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Amount</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input type="text" value="Somay" name="product" class="form-control" />
            </td>
            <td>
                <input type="number" value="15500" name="price" class="form-control" />
            </td>
            <td>
                <input type="number" value="3" name="quantity" class="form-control" />
            </td>
            <td>
                <input type="number" value="0" name="amount" class="form-control" />
            </td>
            <td>
                <input type="button" value="Calc." name="btn-calc" class="btn btn-primary" onclick="calculate(this)" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" value="Baso" name="product" class="form-control" />
            </td>
            <td>
                <input type="number" value="18500" name="price" class="form-control" />
            </td>
            <td>
                <input type="number" value="2" name="quantity" class="form-control" />
            </td>
            <td>
                <input type="number" value="0" name="amount" class="form-control" />
            </td>
            <td>
                <input type="button" value="Calc." name="btn-calc" class="btn btn-primary" onclick="calculate(this)" />
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th colspan="3">Total</th>
            <th>
                <input type="number" value="0" name="total" class="form-control" />
            </th>
            <th>
                <input type="button" value="Total" name="btn-calc" class="btn btn-primary" onclick="calcTotal(this)" />
            </th>
        </tr>
    </tfoot>
</table>

@section Scripts{
    <script type="text/javascript">
        function calculate(obj) {
            var tr = $(obj).closest('tr');
            var price = $(tr).find("input[name = price]").val();
            var quantity = $(tr).find("input[name = quantity]").val();
            
            $(tr).find("input[name = amount]").val(price * quantity);
        }

        function calcTotal(obj) {
            var total = 0;
            $("tbody").find("tr").each(function () {
                var amount = $(this).find("input[name = amount]").val();
                total = parseFloat(total) + parseFloat(amount);
            })
            var tr = $(obj).closest('tr');
            $(tr).find('input[name = total]').val(total);
        }
    </script>
}
